.calendar-start-icon{visibility: hidden;}
.header{position:relative;z-index:1;}
.footer{position:relative;z-index:1;margin-top: -117px;}
.select_camp{position:relative;margin-top:-78px;padding:414px 0 361px;width:100%;height:63px;font-size:22px;z-index:0;
    background:url("../img/index0.jpg") center top no-repeat;background-attachment: fixed;
}
.select_camp .p1{float:left;margin-right:2px;width:233px;line-height:63px;text-align:center;background:rgba(38,141,183,.8);color:#fff;}
.select_camp .div_input{float:left;padding:5px 0;width:265px;height:53px;background:rgba(227,229,227,.8);}
.select_camp input{width:264px;height:53px;color:#21a8e2;font-size:18px;background:none;text-align:center;border-right:solid 1px #aaa59d;}
.select_camp .color_blur:-moz-placeholder{color:#21a8e2;}
.select_camp .color_blur:-ms-input-placeholder{color:#21a8e2;}
.select_camp .color_blur::-webkit-input-placeholder{color:#21a8e2;}
.select_camp a{float:left;width:27px;height:35px;padding:14px 22px 14px 24px;background:#e0e2e1;}
.select_camp a i{display:block;width:27px;height:35px;background:url("../img/index.png") -237px -172px;}

/*关于complink*/
.about_camp{margin-top:7px;height:231px;line-height:231px;background:url(../img/index1.jpg) center top no-repeat;text-align:center;color:#fff;font-size:40px;font-family:"微软雅黑";}
/*热门特价*/
.hot_camp{margin-top:11px;padding-top:70px;padding-bottom:77px;height:725px;background:url("../img/index2.png") center top no-repeat;}
.hot_div{margin:0 auto;padding-left:55px;padding-right:56px;width:1069px;}
.border_hot{float:left;margin-top:34px;width:376px;height:3px;border:solid 1px #fff;}
.div_p_hot{float:left;width:313px;text-align:center;color:#fff;font-size:34px;line-height:44px;}
.div_p_hot .p1{line-height:48px;font-size:36px;}
.hot_list{padding-top:58px;height:575px;}
.hot_list li{float:left;width:520px;height:575px;background:#fff;}
.hot_list li:first-child{margin-right:29px;}
.hot_list li img{width:520px;height:415px;}
.hot_list li span{float:left;padding-left:35px;width:230px;height:78px;line-height:78px;font-size:30px;color:#262626;overflow:hidden;}
.hot_list li i{float:left;padding-left:21px;width:233px;height:73px;line-height:73px;font-size:38px;font-weight:bold;color:#41b8e2;overflow:hidden;}
.hot_list li p{padding:6px 0 18px 29px;line-height:29px;color:#505050;font-size:16px;}
/*主题分类*/
.subjects_camp{padding-top:48px;position:relative;z-index:2;}
.subject_div{margin:0 auto;padding-left:55px;padding-right:56px;width:1069px;}
.subject_div .border_hot{border-color:#52bbe8;}
.subject_div .div_p_hot{color:#52bbe8;}
.subject_list{padding-top:4px;background:#fff;}
.subject_list li{float:left;margin-right:39px;margin-top:39px;width:330px;height:326px;box-shadow: 0px 4px 29px -9px #221d1d;}
.subject_list li a{display:block;}
.subject_list .li3,.subject_list .li6{margin-right:0;}
.subject_list li img{width:100%;height:255px;}
.subject_list li span{float:left;padding-left:18px;width:240px;height:71px;line-height:71px;font-size:20px;overflow:hidden;}
.subject_list li i{float:right;margin-top:26px;margin-right:34px;width:18px;height:18px;background:url("../img/index.png") -240px -214px;}
.subject_list li a{color:#000;}
.subject_list .li6 img{height:184px;}
.subject_list .div6_li{height:71px;line-height:71px;text-align:center;background:#33afe3;font-size:16px;}
.subject_list .div6_li a{color:#fff;}