.content{padding-top:27px;}
.con1{height:458px;}
.con1 .con1_left{width:586px;}
.con1 .img_info{width:586px;height:327px;}
.con1 .img_list{padding-top:3px;}
.con1 .img_list li{float:left;width:193px;height:128px;margin-left:3px;}
.con1 .img_list li:first-child{margin-left:0px;}
.con1 .img_list li img{width:100%;height:100%;}

.con1 .con1_right{width:591px;}
.con1 .con1_right h1{position: relative;background-color: #29abe2;color: #fff;font-size:20px;height:53px;line-height:53px;text-align: center;}
.con1 .con1_right h1:before{
    content:"";
    display:block;
    position:absolute;
    top:13px;left:0;
    width:13px;
    height:27px;
    /*-moz-border-radius:0 13px 13px 0;*/
    /*-webkit-border-radius:0 13px 13px 0;*/
    border-radius:0 13px 13px 0;
    background:#fff;
}
.con1 .con1_info{padding-top:9px;margin:0 auto;width:460px;height:396px;}
.con1 .con1_info_d1{line-height:28px;font-size:16px;}
.con1 .con1_info_d2{padding:9px 4px 0 0;width:100%;height:124px;    background: #eee;}
.con1 .con1_info_d2 .left{padding:50px 0 0 57px;width:149px;font-size:16px;}
.con1 .con1_info_d2 .left span{font-size:20px;color:#ff6000;}
.con1 .con1_info_d2 .right{width:246px;height:118px;}
.con1 .con1_info_d2 .right i{float: left;
    margin-top:36px;
    width: 25px;
    height: 48px;
    background: #fff;
    /*-moz-border-radius: 25px 0 0 25px;*/
    /*-webkit-border-radius: 25px 0 0 25px;*/
    border-radius: 25px 0 0 25px;
}
.con1 .con1_info_d2 .right div{
    float: right;
    width:220px;
    font-size:20px;
    line-height: 118px;
    text-align: center;
    background: #fff;
}
.con1 .con1_info_p3{margin-top:5px;}
.con1 .con1_info_p3,.con1 .con1_info_p4,.con1 .cont_info_p5{font-size:16px;line-height:28px;}
.con1 .con1_info_p4 span{position:relative;padding:0 18px;line-height:28px;}
.con1 .con1_info_p4 span i{position:absolute;top:4px;left:0;width:15px;height:15px;background: url(../img/index.png) -228px -60px no-repeat;}
.con1 .cont_info_p5 input{border:solid 1px #4c4c4c;padding:0 5px;width:84px;height:24px;font-size:14px;}
.con1 .con1_info_d3{padding-top:27px;height:89px;}
.con1 .con1_info_d3 .left{width:217px;font-size:16px;}
.con1 .con1_info_d3 .left a{display:block;width:213px;height:33px;line-height:33px;border: solid 2px #94d5f1;color: #28abe1;text-align:center;}
.con1 .con1_info_d3 .left a:hover{background:#29abe2;border-color:#fff;color:#fff;}
.con1 .con1_info_d3 .left a.leftA1{margin-bottom:14px;}
.con1 .con1_info_d3 .right{width:216px;height:88px;line-height:88px;background: #29abe2;text-align:center;font-size:18px;}
.con1 .con1_info_d3 .right a{display:block;color:#fff;}
.con1 .con1_info_d3 .right a:hover{box-shadow:inset 0px -6px 31px -14px #221d1d;}
.con2{padding-top:35px;}
.con2 .con2_head.navActive{position:fixed;top:0;width:1180px;z-index:99;}
.con2 .con2_head{height:49px;line-height:49px;background:#eee;}
.con2 .con2_head li{float:left;text-align:center;position:relative;margin-left:-13px;}
.con2 .con2_head li:first-child{margin-left:0;}
.con2 .con2_head li a{color:#fff;display:block;margin-left:13px;}
.con2 .con2_head .li2{margin-top:7px;margin-bottom:7px;height:35px;}
.con2 .con2_head .li2 a{height:35px;line-height:35px;background:#fff;color:#333;}
.con2 .con2_head .li2:before{content:"";
    display:block;
    position:absolute;
    top:5px;left:0;
    width:13px;
    height:27px;
    /*-moz-border-radius:13px 0 0 13px;*/
    /*-webkit-border-radius:13px 0 0 13px;*/
    border-radius:13px 0 0 13px;
    background:#fff;}
.con2 .con2_head .li2_ash a{background:#eee;}
.con2 .con2_head .li2_ash:before{background:#eee;}
.con2 .tese{width:172px;height:49px;}
.con2 .jieshao{width:195px;}
.con2 .chizhu{width:143px;}
.con2 .huodong{width:194px;}
.con2 .xingcheng{width:143px;}
.con2 .feiyong{width:195px;}
.con2 .wenti{width:160px;}
.con2_cont{padding-top:4px;}
.div_con2_cont{margin-top:12px;background:#eee;}
.div_con2_cont .left{width:148px;padding:0 13px;text-align:center;background-size:100% 100%;background-repeat:no-repeat;}
.div_con2_cont .left h3{font-size:20px;color:#fff;}
.div_con2_cont .right{margin-left:22px;width:980px;position:relative;overflow: hidden;}
.con2 .con2_head .li2_hover{background:#29abe2;}
.con2 .con2_head .li2_hover a{background:#29abe2;color:#fff;}
.con2 .con2_head .li2_hover:before{background:#29abe2;}
.con2 .con2_head .li2.active{margin:0;height:49px;background:#29abe2;}
.con2 .con2_head .li2.active:before{background:#29abe2;}
.con2 .con2_head .li2.active a{background:#29abe2;color:#fff;height:49px;line-height:49px;}
.div_con2_cont.tese_div{padding-bottom: 2px;}
.div_con2_cont.tese_div .left{background-image:url("../img/itembg_03.jpg");}
.div_con2_cont.tese_div h3{line-height:148px;}
.div_con2_cont.tese_div .right{float: left;width: 955px;}
.div_con2_cont.tese_div .right ul{height:119px;padding:11px 0 9px;overflow:hidden;width: 1000%;
    transition:1s;
}
.div_con2_cont.tese_div .right li{width:191px;height:128px;float:left;}
/*.div_con2_cont.tese_div .right li a:hover img{transform:scale(1.3);transition:1s;}*/
.div_con2_cont.tese_div .right img{width:100%;height:100%;}
.jiantou_left,.jiantou_right{padding:10px 8px;position:absolute;top:50%;margin-top:-12px;float:left;width:10px;height:25px;background-repeat:no-repeat;display:none;}
.jiantou_left i,.jiantou_right i{display:block;width:10px;height:25px;background-image:url("../img/jiantou.png");background-repeat:no-repeat;}
.jiantou_left{}
.jiantou_left i{}
.jiantou_right{right:0;}
.jiantou_right i{background-position:-12px 0;}

/*营地介绍 和 营地课程互动*/
.div_con2_cont.jieshao_div .left{background-image:url("../img/itembg_07.jpg");}
.div_con2_cont.chizhu_div .left{background-image:url("../img/itembg_10.jpg");}
.div_con2_cont.jieshao_div h3,.div_con2_cont.chizhu_div h3{line-height:254px;}
.div_con2_cont.jieshao_div dl{padding:5px 47px 0 7px;}
.div_con2_cont.chizhu_div dl{padding:7px 20px 0 7px;}
.div_con2_cont.chizhu_div .dt1{padding-top:23px;}
.div_con2_cont.jieshao_div dt,.div_con2_cont.chizhu_div dt{font-size:18px;line-height:36px;}
.div_con2_cont.jieshao_div dd,.div_con2_cont.chizhu_div dd{font-size:16px;line-height:28px;}
.div_con2_cont.jieshao_div dd span,.div_con2_cont.chizhu_div dd span{display:inline-block;vertical-align:top;}
.div_con2_cont.jieshao_div dd .span1{width:876px;}
.div_con2_cont.chizhu_div dd .span1{width:850px;}

/*营地吃住行安全*/
.div_con2_cont.huodong_div .left{background-image:url("../img/itembg_13.jpg");}
.div_con2_cont.huodong_div h3{padding-top:207px;height:257px;}
.div_con2_cont.huodong_div dl{padding:5px 0px 0 10px;}
.div_con2_cont.huodong_div dt{font-size:18px;line-height:36px;}
.div_con2_cont.huodong_div dd{font-size:16px;line-height:28px;}
.div_con2_cont.huodong_div dd.dd_img{padding-top:2px;font-size:0;}
.div_con2_cont.huodong_div dd.dd_img img{width:194px;height:130px;}
/*营地行程*/
.div_con2_cont.xingcheng_div .left{background-image:url("../img/itembg_15.jpg");}
.div_con2_cont.xingcheng_div h3{line-height:648px;}
.div_con2_cont.xingcheng_div ul{padding:5px 87px 0 15px;}
.div_con2_cont.xingcheng_div li{padding:19px 0;border-bottom:solid 2px #ddd;}
.div_con2_cont.xingcheng_div .li_left{float:left;border-style:solid;border-color:#ccc;border-width:4px 6px;width:222px;height:148px;}
.div_con2_cont.xingcheng_div .li_right{float:left;padding-left:18px;width:625px;}
.div_con2_cont.xingcheng_div .color_blur{font-size:18px;}
.div_con2_cont.xingcheng_div .p1_li_right{padding-top:10px;}
.div_con2_cont.xingcheng_div p{font-size:16px;line-height:28px;}
.div_con2_cont.xingcheng_div .p1_right{font-size:16px;line-height:34px;text-align:center;}

/*费用详情*/
.div_con2_cont.feiyong_div .left{background-image:url("../img/itembg_17.jpg");}
.div_con2_cont.feiyong_div h3{line-height:180px;}
.div_con2_cont.feiyong_div .right{padding-top:36px;}
.div_con2_cont.feiyong_div p{font-size:16px;line-height:28px;color:#575757;padding-right:22px;}
/*常见问题*/
.div_con2_cont.wenti_div .left{background-image:url("../img/itembg_19.jpg");}
.div_con2_cont.wenti_div h3{line-height:180px;}
.div_con2_cont.wenti_div .right{float:left;padding:47px 0 0 99px;width:760px;}


