/*reset*/
body{margin:0;padding:0;background:#fff;}
body,button,input,select,textarea{font: 12px "microsoft yahei",Arial,Helvetica,sans-serif;color: #666;}
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,textarea,p,input{margin:0;padding:0;}
table,td,tr,th{font-size:12px;}
ol,ul,li{list-style:none;list-style-type:none;}
img{vertical-align:top;border:0;}
input{outline:none;border:0;}
h1,h2,h3,h4,h5,h6{font-size:12px;font-weight:normal;}
address,cite,i,em,b,var,q,hr{font-weight:normal;font-style:normal;}
.left{float:left;}
.right{float:right;}
.clear,.div_con2_cont,.div1_foot,.bottom_content li a,.left_cont_right div,.cont_right,.subject_list li a,.select_sc li{zoom:1;}
.clear:after,.div_con2_cont:after,.div1_foot:after,.bottom_content li a:after,.left_cont_right div:after,.cont_right:after,.subject_list li a:after,.select_sc li:after{content:"";display:block;clear:both;visibility:hidden;font-size:0;height:0;line-height:0;}
.bold{font-weight:700;}
.width_content{width:1180px;height:100%;margin:0 auto;}
a{text-decoration:none;color:#06c;outline:0;}
a:link{}
a:visited{}
a:hover{}
a:active{}
.color_blur{color:#29abe2;}
#notLogin{position:fixed;top:50%;left:50%;margin-left:-186px;margin-top:-210px;width:270px;padding: 22px 51px;background:#fff;z-index:1000;display:none;border-radius: 5px;}
#notLogin p{text-align:center;}
#notLogin p i{display:inline-block;width:85px;height:85px;background:url("../img/index.png") 0 -157px no-repeat;}
#notLogin div{padding-top:10px;}
#notLogin div span{position:relative;float:left;width:80px;height:35px;line-height:35px;font-size:14px;letter-spacing: 1px;background:#29abe3;color:#fff;text-align:center;}
#notLogin div span i{position:absolute;top:6px;right:0;width: 11px;height: 22px;border-radius: 13px 0 0 13px;background: #eaedf0;}
#notLogin div label{display:none;float:left;width:100%;color:red;}
#notLogin div input{float:left;padding-left:5px;width:182px;height:33px;border:solid 1px #29abe2;border-left:none;}
#notLogin .password input,#notLogin .code input{width:93px;}
#notLogin .password a{float:left;margin-left: 4px;margin-top: 6px;padding: 2px 6px;border: solid 1px #999;border-radius: 3px;color:#999;}
#notLogin .code a{float:left;margin-left:4px;height:35px;}
#notLogin .code a img{height:100%;}
#notLogin .bth_log{padding-top:35px;width:210px;margin:0 auto;}
#notLogin .bth_log input{float:none;display:block;    margin: 0 auto;width:112px;color:#999;border:solid 1px #999;border-radius:3px;font-size:14px;letter-spacing:2px;background:#fff;cursor:pointer;}
#close_car{display:block;position:absolute;top:8px;right:8px;width:18px;height:18px;background: url(../img/user.png) -38px 0 no-repeat;opacity:.6;cursor:pointer;
    transition:0.5s;
    -moz-transition:0.5s; /* Firefox 4 */
    -webkit-transition:0.5s; /* Safari 和 Chrome */
    -o-transition:0.5s; /* Opera */
}
#close_car:hover{transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */}
#notLogin .cont1_car .message{padding-left: 48px;position:relative;line-height:75px;font-size:22px;text-align: left;}
#notLogin .cont1_car .message i{position:absolute;top:29px;left:23px;width:20px;height:20px;background:url("../img/index.png") no-repeat;}
#notLogin .cont1_car .message i.i1{background-position:-48px 0px;}
#notLogin .cont1_car .message i.i2{background-position:-48px -20px;}
#notLogin .cont1_car .message n
/*#notLogin .cont1_car .message:before{display:inline-block;content: "\e634";font-family:"iconfont";background:#fff;color:#7bd615;font-size: 24px;}*/
#notLogin .cont1_car a{float:left;width:46%;line-height:45px;font-size:14px;text-align:center;border:solid 1px #29abe2;color:#29abe2;}
#notLogin .cont1_car a#gobank{float:left;padding: 12px 18px;}
#notLogin .cont1_car a.right{float:right;background:#29abe2;color:#fff;padding: 12px 18px;}
#showImg{position:fixed;top:50%;left:50%;border:solid 3px rgba(0,0,0,0.5);display:none;width:1000px;height:500px;margin-left:-500px;margin-top:-250px;z-index:1000;}
#showImg>i{display:block;float:right;width:34px;height:34px;background:url("../img/close.png") no-repeat;position:absolute;right:0;top:0;opacity:.6;cursor:pointer;
    transition:0.5s;
    -moz-transition:0.5s; /* Firefox 4 */
    -webkit-transition:0.5s; /* Safari 和 Chrome */
    -o-transition:0.5s; /* Opera */
}
#showImg>i:hover{transform:rotate(180deg);
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */}
#showImg a{position:absolute;top:50%;margin-top:-47.5px;padding:20px;width:25px;height:55px;}
#showImg a i{margin-right:20px;display:block;width:25px;height:55px;background-image:url("../img/jiantou.png");opacity:.6;}
#showImg_left{left:10px;}
#showImg_left i{background-position:0 -52px;}
#showImg_right{right:10px;}
#showImg_right i{background-position:-33px -52px;}
#right_float{position:fixed;right:20px;top:50%;margin-top:-249.5px;width:124px;background:#666;display:none;z-index:9999999;}
#right_float a{position:relative;display:block;height:125px;border-bottom:solid 1px #999;transition:.6s;}
#right_float a:hover{background:#29abe2;border-color:#fff;}
#right_float a i{position:absolute;left:22px;top:23px;width:60px;height:40px;background:url("../img/index.png") -3px -84px no-repeat;}
#right_float a span{padding-top:70px;display:block;line-height:34px;font-size:14px;color:#fff;text-align:center;letter-spacing:1px;}
#right_float a.back_top{border:none;}
#right_float .now_bug i{left:41px;top:16px;width:37px;height:46px;background-position:-65px -84px;}
#right_float .online_advice i{left:32px;top:18px;width:59px;height:56px;background-position:-105px -84px;}
#right_float .back_top i{left:43px;top:16px;width:39px;height:58px;background-position:-168px -84px;}
.posElement{}
.posElement li{padding-left:10px;height:32px;line-height:32px;background:#fff;border-bottom:solid 1px #dcdcdc;color:#000;cursor:pointer;transition:.5s;}
.posElement li:hover{border-color:#21a8e2;}
#user_active{background:rgba(0,0,0,0.8);}/**/
/*动画*/
@keyframes height_change12 {
    0%{
        height:0;
    }
    100%{
        height:12px;
    }
}
@keyframes height_change20 {
    0%{
        height:0;
    }
    50%{
        height:0;
    }
    100%{
        height:20px;
    }
}
@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1479278317'); /* IE9*/
    src: url('../font/iconfont.eot?t=1479278317#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1479278317') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1479278317') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1479278317#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*分页*/
.page{padding-top:34px;text-align:center;}
.page span,.page a{display:inline-block;width:30px;height:30px;line-height:30px;vertical-align:middle;}
.page a{border:solid 1px #5c5c5c;background:#eee;color:#5c5c5c;transition:.5s;}
.page a:hover,.page a.firstPage:hover,.page a.endPage:hover{border-color:#eee;background:#29abe2;color:#fff;}
.page a.firstPage,.page a.endPage{font-size:24px;font-weight:700;background:#666;color:#fff;border:none;font-family: "simsun";}
.page span.current{background:#29abe2;color:#fff;}
.page span.firstPage,.page span.endPage{font-size:24px;font-weight:700;background:#29abe2;color:#fff;border:none;font-family: "simsun";}
/*header*/
.header{width:100%;}
.head1{width:1180px;margin:0 auto;}
.head1 .left{width:211px;height:78px;}
/*.head1 .left a{display:block;margin-top:3px;width:216px;height:75px;background:url("../img/index.png") no-repeat;background-position:-5px -169px;}*/
.head1 .left a{display:block;margin-top:7px;width:216px;height:75px;background:url("../img/index.png") no-repeat;background-position:-5px -171px;}
.head1 .search{float:left;margin-top:23px;position:relative;border:solid 1px #989898;width:158px;height:29px;
    border-radius:2px;
}
.head1 .search input{margin-top:4px;padding-left:6px;width:119px;border:none;vertical-align:middle;}
.head1 .search div{position:absolute;right:7px;top:3px;width:18px;height:23px;}
.head1 .search div a{display:block;width:18px;height:23px;background:url("../img/index.png") no-repeat;background-position:-249px -57px;}
.head1 .car_inco{float:left;margin:27px 0 0 12px;}
.head1 .car_inco a{display:block;width:39px;height:26px;background:url("../img/index.png") no-repeat;background-position:-8px 0px;}
.head1 .tel{float:left;margin:27px 0 0 14px;}
.head1 .tel div{float:left;padding-right:7px;}
.head1 .tel a{display:block;width:26px;height:25px;background:url("../img/index.png") no-repeat;background-position:-92px -3px;}
.head1 .tel span{padding-top:2px;font-size:18px;}
.head_nav{margin-top:2px;width:100%;height:79px;background:rgba(0,0,0,0.6);}
.head_nav nav{float:right;margin-right:26px;}
.head_nav nav div{float:left;position:relative;margin-left:38px;}
.head_nav nav div i{position:absolute;background:url("../img/index.png") no-repeat;transition:1s;}
.head_nav nav div a{display:block;padding:39px 14px 0;line-height:40px;font-size:18px;color:#fff;}
.head_nav nav div.active{background:rgba(0,0,0,0.8);}

.head_nav nav .index_icon a{width:40px;}
.head_nav nav .index_icon i{top:22px;left:24px;width:23px;height:23px;background-position:-154px -5px;}
.head_nav nav .index_icon.active i{background-position:-182px -5px;}

.head_nav nav .about_icon a{width:81px;}
.head_nav nav .about_icon i{top:22px;left:44px;width:20px;height:23px;background-position:-206px -5px;}
.head_nav nav .about_icon.active i{background-position:-234px -5px;}

.head_nav nav .news_icon a{width:125px;line-height:39px;}
.head_nav nav .news_icon a span{font-family: arial;}
.head_nav nav .news_icon i{top:21px;left:58px;width:20px;height:24px;background-position:-15px -56px;}
.head_nav nav .news_icon.active i{background-position:-43px -56px;}

.head_nav nav .private_icon a{width:80px;}
.head_nav nav .private_icon i{top:23px;left:37px;width:33px;height:23px;background-position:-83px -56px;}
.head_nav nav .private_icon.active i{background-position:-124px -56px;}

.head_nav nav .personal_icon a{width:82px;}
.head_nav nav .personal_icon i{top:23px;left:42px;width:15px;height:26px;background-position:-159px -53px;}
.head_nav nav .personal_icon.active i{background-position:-181px -53px;}
/*footer*/
.footer{width:100%;height:373px;padding-top:46px;background:url("../img/foot_bg.png") repeat-x;background-position:0 bottom;}
.div1_foot{margin-left: auto;margin-right: auto;padding-top:196px;width:743px;line-height:24px;font-size:16px;color:#fff;}
.div1_foot span{display:block;float:left;}
.div1_foot .span1{width:449px;}
.div1_foot .span2{width:294px;}
.div2_foot{padding-top:9px;font-size:18px;color:#fff;text-align:center;}
.div2_foot .p1_foot{line-height:42px;}
.footer2 .div2_foot{color:#666;}
