{
     "button":[
      {	
          "type":"view",
          "name":"营地产品",
          "url":"http://open.weixin.qq.com/connect/oauth2/authorize?appid=wx49417f5dc9e1a7e7&redirect_uri=http%3a%2f%2fwww.camplink.cn%2fwxlogin.do&response_type=code&scope=snsapi_base&state=camps#wechat_redirect"
      },
       {	
          "type":"view",
          "name":"个人中心",
          "url":"http://open.weixin.qq.com/connect/oauth2/authorize?appid=wx49417f5dc9e1a7e7&redirect_uri=http%3a%2f%2fwww.camplink.cn%2fwxlogin.do&response_type=code&scope=snsapi_base&state=user#wechat_redirect"
      }
       ]
 }