@charset "utf-8";
html{
    -webkit-text-size-adjust:none;
    font:14px PingFangSC-Regular,"思源黑体CN";
    color: #333333;
}
body{
    background-color: #fff;
}
i,u,s,b,span,div,p,h1,h2,h3,h4,h5,ul,li,ol,dl,dt,dd,body,input,form,iframe,video,audio,header,nav,section,footer,article,button{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
button{
    border:none;
    background-color: #fff;
}
ul{
    list-style: none;
}
img{
    border:none;
    vertical-align: middle;
}
input{
    border:none;
    outline: none;
}
a{
    text-decoration: none;
    color: #32AFE4;
}
button.disabled{color:#666!important;background: #eee!important;border-color: #eee!important;}
#alertMessage{box-sizing:content-box;position:fixed;top:50%;left:50%;padding:19px 0 8px;margin-top:-41.9px;margin-left:-55px;width:158px;height:83px;border-radius:22px;background:rgba(0,0,0,0.5);z-index:99999;}
#alertMessage div{margin:0 auto;width:40px;height:40px;background-repeat:no-repeat;}
.iconSuccess{background:url(../img/icon_success.png);}
.iconError{background:url(../img/icon_error.png);}
#alertMessage p{line-height:43px;text-align:center;color:#fff;font-family: "思源"}
.noMessage_border{text-align:center;padding:10px 0;}