{
     "button":[
      {	
          "type":"view",
          "name":"了解英姿",
          "url":"http://mp.weixin.qq.com/s?__biz=MzAxMzEyMTM2NA==&mid=209693964&idx=1&sn=af8ada28d5aee36da91faf257e708f8c&scene=18#rd"
      },
       {	
          "type":"view",
          "name":"服务中心",
          "sub_button":[
           {	
               "type":"view",
               "name":"解救单身",
               "url":"http://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6f699bb3d97798ac&redirect_uri=http://www.yingzixiyin.com/weixin/consultant/consultant_single.do&response_type=code&scope=snsapi_base&state=DXFG#wechat_redirect"
            },
            {
               "type":"view",
               "name":"恋爱情感",
               "url":"http://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6f699bb3d97798ac&redirect_uri=http://www.yingzixiyin.com/weixin/consultant/consultant_love.do&response_type=code&scope=snsapi_base&state=DXFG#wechat_redirect"
            },
            {
               "type":"view",
               "name":"婚姻生活",
               "url":"http://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6f699bb3d97798ac&redirect_uri=http://www.yingzixiyin.com/weixin/consultant/consultant_life.do&response_type=code&scope=snsapi_base&state=DXFG#wechat_redirect"
            }]
      },
       {
           "name":"个人中心",
           "sub_button":[
           {	
               "type":"view",
               "name":"咨询历史",
               "url":"http://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6f699bb3d97798ac&redirect_uri=http://www.yingzixiyin.com/weixin/user/wx_consume_records.do&response_type=code&scope=snsapi_base&state=DXFG#wechat_redirect"
            },
            {
               "type":"view",
               "name":"我的收藏",
               "url":"http://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6f699bb3d97798ac&redirect_uri=http://www.yingzixiyin.com/weixin/user/wx_collect_records.do&response_type=code&scope=snsapi_base&state=DXFG#wechat_redirect"
            },
            {
               "type":"view",
               "name":"咨询室",
               "url":"http://open.weixin.qq.com/connect/oauth2/authorize?appid=wx6f699bb3d97798ac&redirect_uri=http://www.yingzixiyin.com/weixin/user/wx_message_records.do&response_type=code&scope=snsapi_base&state=DXFG#wechat_redirect"
            }]
       }]
 }