<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxue.core.dao.CouponCodeDao" >
  <resultMap id="BaseResultMap" type="com.youxue.core.vo.CouponCodeVo" >
    <id column="code_id" property="codeId" jdbcType="VARCHAR" />
    <result column="code_value" property="codeValue" jdbcType="VARCHAR" />
    <result column="code_amount" property="codeAmount" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="use_count" property="useCount" jdbcType="INTEGER" />
    <result column="category_ids" property="categoryIds" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    code_id, code_value, code_amount, create_time, start_time, end_time, status, use_count, 
    category_ids
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_coupon_code
    where code_id = #{codeId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_coupon_code
    where code_id = #{codeId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.youxue.core.vo.CouponCodeVo" >
    insert into tb_coupon_code (code_id, code_value, code_amount, 
      create_time, start_time, end_time, 
      status, use_count, category_ids
      )
    values (#{codeId,jdbcType=VARCHAR}, #{codeValue,jdbcType=VARCHAR}, #{codeAmount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER}, #{useCount,jdbcType=INTEGER}, #{categoryIds,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.youxue.core.vo.CouponCodeVo" >
    insert into tb_coupon_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="codeId != null" >
        code_id,
      </if>
      <if test="codeValue != null" >
        code_value,
      </if>
      <if test="codeAmount != null" >
        code_amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="useCount != null" >
        use_count,
      </if>
      <if test="categoryIds != null" >
        category_ids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="codeId != null" >
        #{codeId,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeAmount != null" >
        #{codeAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="useCount != null" >
        #{useCount,jdbcType=INTEGER},
      </if>
      <if test="categoryIds != null" >
        #{categoryIds,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxue.core.vo.CouponCodeVo" >
    update tb_coupon_code
    <set >
      <if test="codeValue != null" >
        code_value = #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeAmount != null" >
        code_amount = #{codeAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="useCount != null" >
        use_count = #{useCount,jdbcType=INTEGER},
      </if>
      <if test="categoryIds != null" >
        category_ids = #{categoryIds,jdbcType=VARCHAR},
      </if>
    </set>
    where code_id = #{codeId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxue.core.vo.CouponCodeVo" >
    update tb_coupon_code
    set code_value = #{codeValue,jdbcType=VARCHAR},
      code_amount = #{codeAmount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      use_count = #{useCount,jdbcType=INTEGER},
      category_ids = #{categoryIds,jdbcType=VARCHAR}
    where code_id = #{codeId,jdbcType=VARCHAR}
  </update>
  <select id="selectCouponByCode" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from tb_coupon_code
    where code_value = #{codeValue,jdbcType=VARCHAR}
    <if test="lock == true">
     for update
    </if>
  </select>
</mapper>