<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxue.core.dao.SurroundProductDao" >
  <resultMap id="BaseResultMap" type="com.youxue.core.vo.SurroundProductVo" >
    <id column="product_id" property="productId" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="product_desc" property="productDesc" jdbcType="VARCHAR" />
    <result column="product_photos" property="productPhotos" jdbcType="VARCHAR" />
    <result column="product_price" property="productPrice" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    product_id, product_name, product_desc, product_photos, product_price
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_surround_product
    where product_id = #{productId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_surround_product
    where product_id = #{productId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.youxue.core.vo.SurroundProductVo" >
    insert into tb_surround_product (product_id, product_name, product_desc, 
      product_photos, product_price)
    values (#{productId,jdbcType=VARCHAR}, #{productName,jdbcType=VARCHAR}, #{productDesc,jdbcType=VARCHAR}, 
      #{productPhotos,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.youxue.core.vo.SurroundProductVo" >
    insert into tb_surround_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="productDesc != null" >
        product_desc,
      </if>
      <if test="productPhotos != null" >
        product_photos,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productPhotos != null" >
        #{productPhotos,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxue.core.vo.SurroundProductVo" >
    update tb_surround_product
    <set >
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="productDesc != null" >
        product_desc = #{productDesc,jdbcType=VARCHAR},
      </if>
      <if test="productPhotos != null" >
        product_photos = #{productPhotos,jdbcType=VARCHAR},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
    </set>
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxue.core.vo.SurroundProductVo" >
    update tb_surround_product
    set product_name = #{productName,jdbcType=VARCHAR},
      product_desc = #{productDesc,jdbcType=VARCHAR},
      product_photos = #{productPhotos,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL}
    where product_id = #{productId,jdbcType=VARCHAR}
  </update>
</mapper>