<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youxue.core.dao.WordCountDao" >
  <resultMap id="BaseResultMap" type="com.youxue.core.vo.WordCountVo" >
    <id column="word" property="word" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="BIGINT" />
    <result column="last_search_time" property="lastSearchTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    word, count,last_search_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_word_count
    where word = #{word,jdbcType=VARCHAR}
  </select>
  <select id="selectPageByConditions" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from tb_word_count
  </select>
  <select id="selectCountByConditions" resultType="Integer" parameterType="java.util.Map" >
    select 
    count(1)
    from tb_word_count
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_word_count
    where word = #{word,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.youxue.core.vo.WordCountVo" >
    insert into tb_word_count (word, count,last_search_time)
    values (#{word,jdbcType=VARCHAR}, #{count,jdbcType=BIGINT}, #{lastSearchTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.youxue.core.vo.WordCountVo" >
    insert into tb_word_count
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="word != null" >
        word,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="lastSearchTime != null" >
        last_search_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=BIGINT},
      </if>
      <if test="lastSearchTime != null" >
        #{lastSearchTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.youxue.core.vo.WordCountVo" >
    update tb_word_count
    <set >
      <if test="count != null" >
        count = #{count,jdbcType=BIGINT},
      </if>
      <if test="lastSearchTime != null" >
        last_search_time = #{lastSearchTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where word = #{word,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.youxue.core.vo.WordCountVo" >
    update tb_word_count
    set count = #{count,jdbcType=BIGINT}
    where word = #{word,jdbcType=VARCHAR}
  </update>
</mapper>